@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-mist;
  background-color: #000;
}

button {
  &:focus {
    box-shadow: unset !important;
  }
}

.layout-background-image {
  background-image: radial-gradient(
      circle at top center,
      #526e9710,
      transparent
    ),
    url(/bg.png);
  background-repeat: no-repeat;
  background-size: 250%;

  @media (min-width: 600px) {
    background-size: 200%;
  }

  @media (min-width: 800px) {
    background-size: 150%;
  }

  @media (min-width: 1000px) {
    background-size: 125%;
  }

  @media (min-width: 1300px) {
    background-size: 100%;
  }
}
